@charset "UTF-8";

body {
    /* フォントの設定 */
    font-family: 'Nunito',/*英語*/
                 'M PLUS Rounded 1c',/*日本語*/
                 'NanumSquareRound',/*韓国語*/
                 'Jua',/*韓国語*/
                 'Noto Color Emoji',/*絵文字*/
                  sans-serif;
  }

a {
    /* リンクの下線を消す */
    text-decoration: none;
  }

header {
width: 100%;
}

.container-box {
    width: 100%;
    height: 10%;
    /* グラデーション未対応ウィンドウの場合の色 */
    background: #e098fd;
    /* グラデーション背景色 */
    background: linear-gradient(50deg, #fd98d8 20%, #42e1fd 100%);
    /* 角丸設定 */
    border-radius: 0px 0px 120px 120px;
}

.text-area {
    /* 子要素を水平方向の中央に配置する */
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-area a {
    /* 並列に並べる（次の要素を右へ） */
    float: left;
    width: 15%;
    /* 文字の中央揃え */
    position: relative;
    top: 10;
}

/* aタグをホバーしたとき */
.header-a:hover {
    /* ふわっと表示 */
    animation-name:zoomInAnime;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
}

.header-a p {
    /* 文字色 */
    color: rgba(255, 255, 255, 0.925);
    /* 中央揃え */
    text-align: center;
    font-size: 15px;
}

/* ===アニメーション=== */

/* ふわっとアニメーション */
@keyframes zoomInAnime{
    from {
      transform: scale(0.6);
    }
  
    to {
        transform: scale(1);
    }
  }

/*==================================================
　5-2-1 3本線が×に
===================================*/
/*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
.header-containerSP {
    position: fixed;
    top: -0px;
    display: none;
}
.openbtn{
	/*ボタン内側の基点となるためrelativeを指定。
追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定*/
	position: relative;
	background:linear-gradient(50deg, #fd98d8 20%, #42e1fd 100%);
	cursor: pointer;
    top: 10px;
    width: 50px;
    height:50px;
	border-radius: 5px;
    z-index: 19999;
    left: 70vw;
}

/*ボタン内側*/
.openbtn span{
    display: inline-block;
    transition: all .4s;/*アニメーションの設定*/
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
	background: #fff;
  	width: 45%;
  }

.openbtn span:nth-of-type(1) {
	top:15px;	
}

.openbtn span:nth-of-type(2) {
	top:23px;
}

.openbtn span:nth-of-type(3) {
	top:31px;
}

/*activeクラスが付与されると線が回転して×に*/

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;/*真ん中の線は透過*/
}

.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

#g-nav {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg,#42e1fd,#fd98d8);
    transition: all 0.6s;
}

#g-nav.panelactive {
    right: 0;
}

#g-nav ul {
    width: 100%;
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#g-nav li {
    list-style: none;
    text-align: center;
}
#g-nav li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    transition: all .5s;
}

#g-nav.panelactive #g-nav-list {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    text-align: center;
    margin: 0 auto;
}

@media screen and (max-width:840px) {
    .header-a p {
        font-size: 10px;
    }
    .header-containerSP {
        display: block;
    }
    .header-container {
        display: none;
    }
    #header {
        position: fixed;
        z-index: 9999;
    }
}
@media screen and (max-width:600px) {
    .header-a p {
        font-size: 1vw;
    }
    .header-containerSP {
        display: block;
    }
    .header-container {
        display: none;
    }
    #header {
        position: fixed;
        z-index: 9999;
    }
}