@charset "UTF-8";

body {
  padding: 0% 10%;
  margin: 0 auto;
  background: linear-gradient(50deg, #fd98d8 20%, #42e1fd 100%);/*画面遷移のため遷移アニメーションと同じ色を指定*/
}

body.appear{
  background:#fff;/*画面を開いた後の背景色を指定*/
}

ul {
  padding-left:0;
}

li {
  list-style:none;
}
/*========= ローディング画面のためのCSS ===============*/
#splash {
  text-align: center;
	position: fixed;
	width: 100%;
	height: 100%;
  margin: 0 auto;
	background: linear-gradient(50deg, #fd98d8 20%, #42e1fd 100%);
	z-index: 9999999;
	text-align:center;
	color:#fff;
}

#splash-logo {
	position: absolute;
  text-align:center;
  margin: 0 auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*画面遷移アニメーション*/
.splashbg1,
.splashbg2{
  display: none;
}

/*bodyにappearクラスがついたら出現*/
body.appear .splashbg1,
body.appear .splashbg2{
	display:block;
}
/*右に消えるエリア*/
body.appear .splashbg1{
	animation-name:PageAnime;
	animation-duration:1.2s;
	animation-timing-function:ease-in-out;
	animation-fill-mode:forwards;
    content: "";
    position:fixed;
	z-index: 999;
    width: 100%;
    height: 100vh;
    top: 0;
	left:50%;
    transform: scaleX(1);
    background-color:  linear-gradient(50deg, #fd98d8 20%, #42e1fd 100%);/*伸びる背景色の設定*/
}

@keyframes PageAnime{
	0% {
		transform-origin:left;
		transform:scaleX(1);
	}
	50% {
		transform-origin:right;
	}
	100% {
		transform-origin:right;
		transform:scaleX(0);
	}
}

/*左に消えるエリア*/
body.appear .splashbg2{
	animation-name:PageAnime2;
	animation-duration:1.2s;
	animation-timing-function:ease-in-out;
	animation-fill-mode:forwards;
    content: "";
    position:fixed;
	z-index: 999;
    width: 100%;
    height: 100vh;
    top: 0;
	right:50%;
    transform: scaleX(1);
    background-color: linear-gradient(50deg, #fd98d8 20%, #42e1fd 100%);/*伸びる背景色の設定*/
}

@keyframes PageAnime2{
	0% {
		transform-origin:right;
		transform:scaleX(1);
	}

	50% {
		transform-origin:left;
	}
	100% {
		transform-origin:left;
		transform:scaleX(0);
	}
}

/*画面遷移の後現れるコンテンツ設定*/
#container{
	opacity: 0;/*はじめは透過0に*/
}

/*bodyにappearクラスがついたら出現*/
body.appear #container{
	animation-name:PageAnimeAppear;
	animation-duration:1s;
	animation-delay:0.2s;
	animation-fill-mode:forwards;
	opacity: 0;
}

@keyframes PageAnimeAppear{
	0% {
	opacity: 0;
	}
	100% {
	opacity: 1;
}
}


/* =====以下からメインコンテンツ===== */
.wrapper {
    width: 100%;
    height: 100%;
}

.terms-container {
    width: 100%;
    height: 100%;
}

.sort {
  position: relative;
  height: auto;
  padding: 20px;
  margin:50px 0;
  border: solid 3px #fd98d8;/*線*/
  border-radius: 8px;/*角の丸み*/
  color: #fd98d8;/*文字色*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
  
.sort .sort-title{
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 10px;
  line-height: 1;
  font-size: 1.3em;/*タイトル文字サイズ*/
  background: #ffffff;/*タイトル文字背景色*/
  color: #fd98d8;/*タイトル文字色*/
  font-weight: bold;
  height: auto;
}

.sort dt{
  font-weight: bold;
  margin:0 0 10px 0;
}
.sort dd{
  margin:0 0 10px 0;
}
.sort ul{
  display: flex;
  flex-wrap: wrap;
}
.sort li{
  cursor: pointer;
  height: auto;
  margin:5px 10px;
  list-style:none;
}
.sort ul li{ 
  position: relative;
  cursor: pointer;
  margin:5px 10px;
}
.new {
  width: 100%; 
  max-width: 80px;
  margin-right: 10%;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  border: 2px solid #1bd1ff;
  background-color: #1bd1ff;
  cursor: pointer;
}
.n_off {
  color: #1bd1ff;
  border: 2px solid #1bd1ff;
  background-color: #1bd1ff00;
}
.old {
  width: 100%;
  max-width: 80px;
  margin-right: 10%;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  border: 2px solid #be1bff;
  background-color: #be1bff;
  cursor: pointer;
 }
.o_off {
  color: #be1bff;
  border: 2px solid #be1bff;
  background-color: #1bd1ff00;
}

 .filter {
  position: relative;
  padding: 20px;
  margin:50px 0;
  height: auto;
  border: solid 3px #1bd1ff;/*線*/
  border-radius: 8px;/*角の丸み*/
  color: #1bd1ff;/*文字色*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.filter .filter-title{
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 10px;
  line-height: 1;
  font-size: 1.3em;/*タイトル文字サイズ*/
  background: #ffffff;/*タイトル文字背景色*/
  color: #1bd1ff;/*タイトル文字色*/
  font-weight: bold;
  height: auto;
} 

.PC_filter {
  display: flex;
  margin: 0 auto;
}

/*＝＝＝並び替えボタンのCSS*/
.filter dt{
  font-weight: bold;
  margin:0 0 10px 0;
}
.filter dd{
  margin:0 0 10px 0;
}
.filter ul{
  display: flex;
  flex-wrap: wrap;
}
.filter li{
  cursor: pointer;
  height: auto;
  margin:0 10px;
  list-style:none;
}
.filter ul li{
  position: relative;
  cursor: pointer;
  margin:5px 10px;
}

.twitter {
  width: 100%;
  max-width: 100px;
  margin-right: 10%;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  border: 2px solid #1bd1ff;
  background-color: #1bd1ff;
}
.tw_off {
  color: #1bd1ff;
  border: 2px solid #1bd1ff;
  background-color: #1bd1ff00;
}
.wPost {
  width: 100%;
  max-width: 100px;
  margin-right: 10%;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  border: 2px solid #16be00;
  background-color: #16be00;
}
.wp_off {
  color: #16be00;
  border: 2px solid #16be00;
  background-color: #1bd1ff00;
}
.wLive {
  width: 100%;
  max-width: 100px;
  margin-right: 10%;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  border: 2px solid #16be00;
  background-color: #16be00;
}
.wl_off {
  color: #16be00;
  border: 2px solid #16be00;
  background-color: #1bd1ff00;
}
.youtube {
  width: 100%;
  max-width: 100px;
  margin-right: 10%;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  border: 2px solid #ff361b;
  background-color: #ff361b;
}
.yt_off {
  color: #ff361b;
  border: 2px solid #ff361b;
  background-color: #1bd1ff00;
}
.instagram {
  width: 100%;
  max-width: 100px;
  margin-right: 10%;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  border: 2px solid #911bff;
  background-color: #911bff;
}
.ig_off {
  color: #911bff;
  border: 2px solid #911bff;
  background-color: #1bd1ff00;
}
.stage {
  width: 100%;
  max-width: 100px;
  margin-right: 10%;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  border: 2px solid #ff1bb3;
  background-color: #ff1bb3;
}
.st_off {
  color: #ff1bb3;
  border: 2px solid #ff1bb3;
  background-color: #1bd1ff00;
}
.tv {
  width: 100%;
  max-width: 100px;
  margin-right: 10%;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  border: 2px solid #ffb71b;
  background-color: #ffb71b;
}
.tv_off {
  color: #ffb71b;
  border: 2px solid #ffb71b;
  background-color: #1bd1ff00;
}
.other {
  width: 100%;
  max-width: 100px;
  margin-right: 10%;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  border: 2px solid #919191;
  background-color: #919191;
}
.ot_off {
  color: #919191;
  border: 2px solid #919191;
  background-color: #1bd1ff00;
}
.hndg {
  width: 100%;
  max-width: 100px;
  margin-right: 10%;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  border: 2px solid #cc98fd;
  background:  #cc98fd;
}
.hndg_off {
  color: #cc98fd;
  border: 2px solid #cc98fd;
  background-color: #1bd1ff00;
}
.hn {
  width: 100%;
  max-width: 100px;
  margin-right: 10%;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  border: 2px solid #fd98d8;
  background-color: #fd98d8;
}
.hn_off {
  color: #fd98d8;
  border: 2px solid #fd98d8;
  background-color: #1bd1ff00;
}
.dg {
  width: 100%;
  max-width: 100px;
  margin-right: 10%;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  border: 2px solid #42b8fd;
  background-color: #42b8fd;
}
.dg_off {
  color: #42b8fd;
  border: 2px solid #42b8fd;
  background-color: #1bd1ff00;
}
.tr {
  width: 100%;
  max-width: 100px;
  margin-right: 10%;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  border: 2px solid #006eff;
  background-color: #006eff;
}
.tr_off {
  color: #006eff;
  border: 2px solid #006eff;
  background-color: #1bd1ff00;
}
.teume {
  width: 100%;
  max-width: 100px;
  margin-right: 10%;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  border: 2px solid #ff820e;
  background-color: #ff820e;
}
.teume_off {color: #ff820e;
  border: 2px solid #ff820e;
  background-color: #1bd1ff00;
}
.bitter {
  width: 100%;
  max-width: 100px;
  margin-right: 10%;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  border: 2px solid #2941ca;
  background-color: #2941ca;
}
.bitter_off {
  color: #2941ca;
  border: 2px solid #2941ca;
  background-color: #1bd1ff00;
}
.sweet {
  width: 100%;
  max-width: 100px;
  margin-right: 10%;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  border: 2px solid #ff44c1;
  background-color: #ff44c1;
}
.sweet_off {
  color: #ff44c1;
  border: 2px solid #ff44c1;
  background-color: #1bd1ff00;
}
.youth {
  width: 100%;
  max-width: 100px;
  margin-right: 10%;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  border: 2px solid #44c4ff;
  background-color: #44c4ff;
}
.youth_off {
  color: #44c4ff;
  border: 2px solid #44c4ff;
  background-color: #1bd1ff00;
}
.mill {
  width: 100%;
  max-width: 100px;
  margin-right: 10%;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  border: 2px solid #c131d4;
  background-color: #c131d4;
}
.mill_off {
  color: #c131d4;
  border: 2px solid #c131d4;
  background-color: #1bd1ff00;
}
.gag {
  width: 100%;
  max-width: 100px;
  margin-right: 10%;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  border: 2px solid #ff9e44;
  background-color: #ff9e44;
}
.gag_off {
  color: #ff9e44;
  border: 2px solid #ff9e44;
  background-color: #1bd1ff00;
}
.quarrel {
  width: 100%;
  max-width: 100px;
  margin-right: 10%;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  border: 2px solid #ff4444;
  background-color: #ff4444;
}
.quarrel_off {
  color: #ff4444;
  border: 2px solid #ff4444;
  background-color: #1bd1ff00;
}
.robinson {
  width: 100%;
  max-width: 100px;
  margin-right: 10%;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  border: 2px solid #b964ff;
  background-color: #b964ff;
}
.robinson_off {
  color: #b964ff;
  border: 2px solid #b964ff;
  background-color: #1bd1ff00;
}
.tShot {
  width: 100%;
  max-width: 100px;
  margin-right: 10%;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  border: 2px solid #a38fff;
  background-color: #a38fff;
}
.tShot_off {
  color: #a38fff;
  border: 2px solid #a38fff;
  background-color: #1bd1ff00;
}
.selca {
  width: 100%;
  max-width: 100px;
  margin-right: 10%;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  border: 2px solid #ff6bdf;
  background-color: #ff6bdf;
}
.selca_off {
  color: #ff6bdf;
  border: 2px solid #ff6bdf;
  background-color: #1bd1ff00;
}
.aSelca {
  width: 100%;
  max-width: 100px;
  margin-right: 10%;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  border: 2px solid #11af60;
  background-color: #11af60;
}
.aSelca_off {
  color: #11af60;
  border: 2px solid #11af60;
  background-color: #1bd1ff00;
}
.team {
  width: 100%;
  max-width: 100px;
  margin-right: 10%;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  border: 2px solid #6644ff;
  background-color: #6644ff;
}
.team_off {
  color: #6644ff;
  border: 2px solid #6644ff;
  background-color: #1bd1ff00;
}
.event {
  width: 100%;
  max-width: 100px;
  margin-right: 10%;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  border: 2px solid #f59312;
  background-color: #f59312;
}
.event_off {
  color: #f59312;
  border: 2px solid #f59312;
  background-color: #1bd1ff00;
}
.piano {
  width: 100%;
  max-width: 100px;
  margin-right: 10%;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  border: 2px solid #842088;
  background-color: #842088;
}
.piano_off {
  color: #842088;
  border: 2px solid #842088;
  background-color: #1bd1ff00;
}
.foods {
  width: 100%;
  max-width: 100px;
  margin-right: 10%;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  border: 2px solid #f8ab1d;
  background-color: #f8ab1d;
}
.foods_off {     color: #f8ab1d;     border: 2px solid #f8ab1d;     background-color: #1bd1ff00; }
.muscle {     width: 100%;     max-width: 100px;     margin-right: 10%;     border-radius: 10px;     text-align: center;     color: #fff;     border: 2px solid #cfa226;     background-color: #cfa226;   }
.muscle_off {     color: #cfa226;     border: 2px solid #cfa226;     background-color: #1bd1ff00; }
.dance {     width: 100%;     max-width: 100px;     margin-right: 10%;     border-radius: 10px;     text-align: center;     color: #fff;     border: 2px solid #903efa;     background-color: #903efa;   }
.dance_off {     color: #903efa;     border: 2px solid #903efa;     background-color: #1bd1ff00; }
.bb {     width: 100%;     max-width: 100px;     margin-right: 10%;     border-radius: 10px;     text-align: center;     color: #fff;     border: 2px solid #f3a81c;     background-color: #f3a81c;   }
.bb_off {     color: #f3a81c;     border: 2px solid #f3a81c;     background-color: #1bd1ff00; }
.tt {     width: 100%;     max-width: 100px;     margin-right: 10%;     border-radius: 10px;     text-align: center;     color: #fff;     border: 2px solid #f04526;     background-color: #f04526;   }
.tt_off {     color: #f04526;     border: 2px solid #f04526;     background-color: #1bd1ff00; }
.fm {     width: 100%;     max-width: 100px;     margin-right: 10%;     border-radius: 10px;     text-align: center;     color: #fff;     border: 2px solid #ff44c1;     background-color: #ff44c1;   }
.fm_off {     color: #ff44c1;     border: 2px solid #ff44c1;     background-color: #1bd1ff00; }
.tbd {     width: 100%;     max-width: 100px;     margin-right: 10%;     border-radius: 10px;     text-align: center;     color: #fff;     border: 2px solid #8d8d8d;     background-color: #8d8d8d;   }
.tbd_off {     color: #8d8d8d;     border: 2px solid #8d8d8d;     background-color: #1bd1ff00; }

.SP_filter {
  display: none;
}
.sp_plt {
  display: none;
}
.sp_snd {
  display: none;
}
.sp_tag {
  display: none;
}
/*==================================================
ギャラリーのためのcss
===================================*/
.gallery{
    /* columns: 4;段組みの数 */
    padding:0 15px;/*ギャラリー左右に余白をつける*/
    margin:0;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row; /*--方向の指定--*/
    }
    
    .gallery li {
    margin-bottom: 20px;/*各画像下に余白をつける*/
    list-style:none;
    padding: 10px;
    width: calc(25% - 25px);
    }
    
    /*ギャラリー内のイメージは横幅100%にする*/
    .gallery img{
        width:100%;
        height:auto;
        vertical-align: bottom;/*画像の下にできる余白を削除*/
        /* 角丸設定 */
        border-radius: 10px;
    }
    
    /*　横幅900px以下の段組み設定　*/
    @media only screen and (max-width: 900px) {
        .gallery li {
          width: calc(33% - 25px);
        }	
    }
    
    @media only screen and (max-width: 768px) {
        .gallery li {
          width: calc(50% - 25px);
        }	
        .terms-container li {
          font-size: 15px;
        }
        .filter ul li{
          margin:5px 5px;
        }
        .sort li{
          margin:5px 2px;
          width: 50%;
        }
    }
    @media only screen and (max-width: 615px) {
      .PC_filter {
        display: none;
      }
      .SP_filter {
        display: block;
      }
    }